.chip-button {
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border: 1px solid transparent;
    border-radius: 2em;
    background-color: #f49118;
    color: #000000;
    text-decoration: none;
    margin-right: 4px;
}